@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


*{
  font-family: 'Montserrat', sans-serif !important;
}

.h-screen {
  height: 100vh;
}

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: flex-end;
}

.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}

input{
  border : 1px solid rgb(79, 83, 83) !important;
}
.auth{
  background-color: #12B886;
}